{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>2 Cadastro de Escoteiro</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <center>
            <img src="{% static 'images/logo_escoteiros_brasil.png' %}">
        </center>
        <h1>Cadastro de Escoteiros</h1>

        <p>Escoteiro ID: {{ data1.id }}</p>
        <p>Número de registro: {{ data1.number_register }}</p>
        <p>Primeira função: {{ data1.function_first }}</p>
        <p>Segunda função: {{ data1.function_second }}</p>
        <p>Terceira função: {{ data.function_third }}</p>
        <p>Seção: {{ data1.section }}</p>

        {% bootstrap_messages %}

        <form action="{% url 'cad_esc_p2' data1.id %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                {% if pca == True %}
                    <button type="submit" class="btn btn-primary">Salvar e continuar</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Cadastrar e continuar</button>
                {% endif %}
            {% endbuttons %}
        </form>

        <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name = "apenas_continuar" value="Continuar sem alterar">
        </form>
        <br>
        <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name = "delete_associate_data" value="Apagar todos os meus dados deste site">
        </form>
        <br><br>
        <input type=button value="Voltar" onClick="javascript:history.go(-1);">
        <br><br>
    </div>
    <center>
        <a href="admin/">ADMIN</a><br>
        <a href="/">Página inicial</a><br>
        {% if logado == True %}
            <a href="/busca">Área restrita - Página de busca</a><br>
            <a href="/cadastro_nrs_registro">Área restrita - Cadastro de números de registro</a><br>
        {% endif %}
    </center>
    {% bootstrap_javascript jquery='full' %}
    <br><br><br>
</body>
</html>