{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Escoteiros</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <center>
            <img src="{% static 'images/logo_escoteiros_brasil.png' %}">
        </center>

        <h1>Cadastro de Escoteiros</h1>
        {% bootstrap_messages %}

        <form action="{% url 'cad_esc' %}" method="post" class="form" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Buscar para seguir</button>
            {% endbuttons %}
        </form>
        <input type=button value="Voltar" onClick="javascript:history.go(-1);">
        <br><br>
    </div>
    {% bootstrap_javascript jquery='full' %}
    {% if warning == True %}
        <br><br>
        <p>Número de registro não localizado - favor contatar o administrador</p>
        <br><br>
    {% endif %}
    <center>
        <a href="admin/">ADMIN</a><br>
        <a href="/">Página inicial</a><br>
        {% if logado == True %}
            <a href="busca">Área restrita - Página de busca</a><br>
            <a href="cadastro_nrs_registro">Área restrita - Cadastro de números de registro</a><br>
        {% endif %}
    </center>
</body>
</html>