{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <center>
        <img src="{% static 'images/logo_escoteiros_brasil.png' %}">
        {% if logado == True %}
            <h3>Ok, usuário logado - Áreas restritas liberadas para o usuário</h3><br><br><br>
            <a href="busca">Página de busca</a><br><br>
        {% else %}
            <h3>Usuário não logado</h3><br>
            <p><a href="cad_esc">Clique aqui para cadastro de escoteiro</a></p><br>
            <p><a href="/admin/login/?next=/">Clique aqui para login</a></p><br><br><br>
        {% endif %}
        <a href="busca">Área restrita - Página de busca</a><br><br>
        <a href="cadastro_nrs_registro">Área restrita - Cadastro de números de registro</a><br><br>
        <a href="admin/">ADMIN</a><br>
    </center>

</body>
</html>